*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(240, 241, 241);
    margin: 0;
    padding: 0;

}

main{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;        
}

.container {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-bottom: 15px;
}

.title-text {
    text-transform: capitalize;
    font-size: xx-large;
    font-family: cursive;
}

.underline {
    margin: 20px auto;
    width: 100px;
    background: skyblue;
    height: 5px;
}

.review{background: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}





